/*全局样式定义*/
*{
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  .active{
    border-bottom: r(2) solid #1db0b8
  }
  li{
    list-style: none;
  }
  .active1{
    border-bottom: r(2) solid #1db0b8
  }